
/*Página de estilos css para la web. Se organiza de más grande a más pequeño*/

h1 {text-align: center; 
	  background-color: rgb(231, 231, 231,0.5)}

h2 {text-decoration: underline; 
	  margin-left:1.5%; 
	  font-family:Times New Roman, Arial}

section {display: none; /* Oculta todas las secciones */
		    line-height:1.5; 
		    text-align:justify; 
		    box-sizing: border-box; 
		    margin-right: 1.5%; 
		    margin-left:1.5%}

section.visible {display: block} /* Muestra la sección activa */

ul{margin-left:-1.5%}

dl {margin-left:2%}

.listaDivulgacion {padding-left:1.5%}
